# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/sounds
/profile_pictures
package-lock.json

# database
database.json

# System Files
.DS_Store

# API Keys
config.js
config.json

notes.txt

# Gource
gource.sh

# Gource Live
/.project
/.gitignore~
tmp
/feeders
gource-live.sh
