# See http://help.github.com/ignore-files/ for more about ignoring files.

# Dependencies
/node_modules

# Directories
/sounds
/profile_pictures
package-lock.json

# Database
database.json
/mongoDB

# System Files
.DS_Store

# API Keys
config.json

# Additional files and notes
talk.js
voice.js
embed.js
notes.txt
todo.md
transfer.md
online.js
info.js

# Gource
gource.sh

# Gource Live
/.project
/.gitignore~
tmp
/feeders
gource-live.sh
